*{
  background-color: #F2F2F7;
}
.App {
  position: absolute;
  width: 662px;
  height: 448px;
  left: 500px;
  top: 226px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 2px solid white;
    
  }

  .formClass {
    position: relative;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
    background: #F2F2F7;
    border-radius: 8px;
    /* border: 1px solid yellow; */
  }

  .app{
    left: 29.79%;
    right: 29.79%;
    top: 52.67%;
    bottom: 42%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 4px;
    /* border: 2px solid black; */
  }

  .App h1 {
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: left;
    color: #2B2B2B;
    /* border: 2px solid red; */

  }
  
  .App button {
    position: relative;
    width: 88px;
    height: auto;
    background: #3A85F7;
    border-radius: 8px;
    height: 24px;
    left: 500px;
    top: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /* border: 2px solid black; */
  }

  .inputs {
    position: relative;
    left: 15.79%;
    right: 49.38%;
    top: 50.44%;
    bottom: 56.22%;
    background: #FFFFFF;
    border-radius: 4px;
    /* border: 2px solid black; */
  }
  

  .todos{
    position: relative;
    text-align: left;
    left: auto;
    /* border: 2px solid red; */
  }

  .todoDate {
    position: absolute;
    width: 35%;
    height: auto;
    left: 32%;
    top: 10%;
    background-color: white;
    border-radius: 8px;
    border: 3px solid white;
  }


  .link-block {
    position: relative;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
    background: #F2F2F7;
    border-radius: 15px;
    margin: 50px 50px 20px 25px;
}


.link-block  button{
    border:none;
    outline:none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    /* border: 1px solid rgb(10, 10, 10); */
    margin: 10px 501px 10px 110px;
    margin-left: 442px;  
  }


.date-link-block {

position: relative;
width: 205px;
height: 24px;
left: 551px;
top: 100px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* or 133% */

display: flex;
align-items: center;

/* Black 2B */

color: #2B2B2B;

}



.editButton{
  color: #3A85F7;
}

.deleteButton{
  color: red;
}

.cancelButton{
  color: #2B2B2B;
}

.saveButton{
  color: aqua;
}
